In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("B:\MS_SCU\Winter20\DataMiningAndPatterRecognition\Project\Dataset\players_19.csv",sep=",",header="infer")
df.shape #To get the total number of rows

(17770, 104)

In [4]:
attributes=df.filter(items=["sofifa_id","player_url","short_name","long_name","age","dob","height_cm","weight_kg","nationality","club","overall","potential","value_eur","wage_eur","preferred_foot","international_reputation","weak_foot","skill_moves","work_rate","body_type","real_face","release_clause_eur","player_tags","team_jersey_number","loaned_from","joined","contract_valid_until","nation_jersey_number","pace","shooting","passing","dribbling","defending","physic","gk_diving","gk_handling","gk_kicking","gk_reflexes","gk_speed","gk_positioning","player_traits ","attacking_crossing","attacking_finishing","attacking_heading_accuracy","attacking_short_passing","attacking_volleys","skill_dribbling","skill_curve","skill_fk_accuracy","skill_long_passing","skill_ball_control","movement_acceleration","movement_sprint_speed","movement_agility","movement_reactions","movement_balance","power_shot_power","power_jumping","power_stamina","power_strength","power_long_shots","mentality_aggression","mentality_interceptions","mentality_positioning","mentality_vision","mentality_penalties","mentality_composure","defending_marking","defending_standing_tackle","defending_sliding_tackle","goalkeeping_diving","goalkeeping_handling","goalkeeping_kicking","goalkeeping_positioning","goalkeeping_reflexes"])
labels=df.filter(items=["sofifa_id","ls","st","rs","lw","lf","cf","rf","rw","lam","cam","ram","lm","lcm","cm","rcm","rm","lwb","ldm","cdm","rdm","rwb","lb","lcb","cb","rcb","rb"])

In [5]:
print("labels shape: ",labels.shape)
print("Unique Sofifa id: ",np.count_nonzero(df.sofifa_id.unique()))

labels shape:  (17770, 27)
Unique Sofifa id:  17770

In [6]:
df.sofifa_id.unique()
df.size

1848080

In [7]:
#labels["ls"].isnull()
#labels.isnull().values.any()
null_sofifa_ids=labels[labels["ls"].isnull()]["sofifa_id"]
#print(len(null_sofifa_ids) #contains the ids of all the records having no labels
#print(type(null_sofifa_ids)) # Series
print(type(null_sofifa_ids))
print(len(null_sofifa_ids))

<class 'pandas.core.series.Series'>
1986

In [8]:
labels=labels[labels.ls.notnull()]
#type(labels["ls"])
labels.head(1)
labels.shape

(15784, 27)

In [9]:
'''
str= s.split("+")
#loop through all the strings in the list after splitting at + 
#They should be two values, first number and second number
for i in str:
    v = int(i)
    #So now the value is an integer
    print(v)

labels["ls"].apply(lambda s: str[]s.split("+")  )
'''

#labels["ls"]= labels["ls"].str.split("+", n = 2, expand = True)
len(labels["ls"])

15784

In [10]:
#labels["ls"]=labels["ls"].apply(lambda v:v.split('+')).apply(lambda s: int(s[0])+int(s[1]))
ids=labels.sofifa_id
labels.drop(columns=["sofifa_id"],inplace=True)
labels.head(1)

,ls,st,rs,lw,lf,cf,rf,rw,lam,cam,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,91+3,91+3,91+3,89+3,90+3,90+3,90+3,89+3,88+3,88+3,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3

In [11]:
for col in labels.columns:
    labels[col]=labels[col].apply(lambda v:v.split('+')).apply(lambda s: int(s[0])+int(s[1]))

In [80]:
#labels["class"]=labels.idxmax(axis=1)
labels.head(1)
labels.max(axis=1)

0        94
1        95
2        92
4        91
5        90
         ..
17765    50
17766    50
17767    51
17768    49
17769    48
Length: 15784, dtype: int64

In [25]:
#labels["classes"]=labels.columns[labels.where(labels.max(axis = 1))]
labels=labels[labels.apply(lambda x: x == labels.max(axis = 1))] 
labels

,ls,st,rs,lw,lf,cf,rf,rw,lam,cam,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,94.0,94.0,94.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,95.0,95.0,95.0,NaN,95.0,95.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,92.0,92.0,92.0,92.0,92.0,92.0,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.0,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,90.0,90.0,90.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,50.0,50.0,50.0,NaN,NaN,50.0,50.0,50.0,NaN
17766,NaN,NaN,NaN,50.0,NaN,NaN,NaN,50.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17767,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,51.0,NaN,NaN,NaN,51.0,51.0,NaN,NaN,NaN,51.0
17768,NaN,NaN,NaN,49.0,NaN,NaN,NaN,49.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,48.0,48.0,48.0,NaN,48.0,48.0,48.0,48.0,48.0