In [35]:
import numpy as np
import pandas as pd
import os
import glob 
label_columns=["sofifa_id","ls","st","rs","lw","lf","cf","rf","rw","lam","cam","ram","lm","lcm","cm","rcm","rm","lwb","ldm","cdm","rdm","rwb","lb","lcb","cb","rcb","rb"]

path = 'C:/Users/Gaurav Gandhi/Documents/pattern/fifa20/players_20.csv'
df=pd.read_csv(path,sep=",",header="infer")
label_train=df.filter(items=label_columns)
label_train.update(label_train.fillna("0+0"))
label_train=label_train[label_train.ls.notnull()]

# GOAL KEEPER
def split_1(v):
    if '+' in v:
        s= v.split('+')
        return (int(s[0])+int(s[1]))
    else:
        s=v.split('-')
        return int(s[0])-int(s[1])
df["gk_positioning"]=df["gk_positioning"].apply(lambda v: 0 if type(v)==str and len(v)>4 else( split_1(v) if type(v)== str and len(v)==4 else v))


ids=label_train.sofifa_id
label_train.drop(columns=["sofifa_id"],inplace=True)


for col in label_train.columns[1:]:
    label_train[col]=label_train[col].apply(lambda v:v.split('+')).apply(lambda s: int(s[0])+int(s[1]))
label_train=label_train[label_train.apply(lambda x: x == label_train.max(axis = 1))]

label_train.insert(0,"gk_positioning",df["gk_positioning"],allow_duplicates=True)
label_train.replace(0.0,np.nan,inplace=True)

label_train

,gk_positioning,ls,st,rs,lw,lf,cf,rf,rw,lam,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,NaN,NaN,NaN,NaN,95.0,95.0,95.0,95.0,95.0,95.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,94.0,94.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,93.0,NaN,NaN,NaN,93.0,93.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,92.0,NaN,NaN,NaN,92.0,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,48.0,48.0,48.0,NaN
18274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,49.0,49.0,49.0,NaN
18275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,51.0,51.0,51.0,NaN,NaN,51.0,51.0,51.0,NaN
18276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,51.0,51.0,51.0,NaN
18277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,52.0,52.0,52.0,NaN

In [36]:
label_test= label_train.notnull().astype('int')
label_test

,gk_positioning,ls,st,rs,lw,lf,cf,rf,rw,lam,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,0,0,0,0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18273,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,0
18274,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,0
18275,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,0,1,1,1,0
18276,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,0
18277,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,0

In [37]:
attribute_columns1=["age","height_cm","weight_kg","gk_diving","overall","nationality","club","potential","preferred_foot","international_reputation","weak_foot","skill_moves","body_type","contract_valid_until","pace","shooting","passing","dribbling","defending","physic"]
attribute_df=df.filter(items=attribute_columns1)
work_rate_attack=[]
work_rate_defense=[]
for col in df["work_rate"]:
    a,b=col.split('/')
    work_rate_attack.append(a)
    work_rate_defense.append(b)

attribute_df.insert(5,"attack_work_rate",work_rate_attack,allow_duplicates=True)
attribute_df.insert(5,"defense_work_rate",work_rate_defense,allow_duplicates=True)

labels = attribute_df["attack_work_rate"].unique().tolist()
nat_l= attribute_df["nationality"].unique().tolist()
club_l=attribute_df["club"].unique().tolist()
foot= attribute_df["preferred_foot"].unique().tolist()
body=attribute_df["body_type"].unique().tolist()

bt=dict(zip(body,range(len(body))))
mapping = dict(zip(labels,range(len(labels))))
f = dict(zip(foot,range(len(foot))))
nat=dict(zip(nat_l,range(len(nat_l))))
cl=dict(zip(club_l,range(len(club_l))))
attribute_df.replace({"body_type": bt, "attack_work_rate": mapping, "defense_work_rate": mapping,"preferred_foot": f,"nationality": nat,"club":cl},inplace=True)
    
attribute_df.update(attribute_df.fillna(0))
x=df[df["player_tags"].notnull()]



tags=[]
taglist=[]
for col in df["player_tags"]:
    tag_index=[]
    if type(col) is str:
        " ".join(col.split())
        current_tags=col.split(',')
        for t in current_tags:
            t=t.strip()
            if t not in tags:
                tags.append(t)
            tag_index.append(tags.index(t))
        taglist.append(tag_index)
    else:
        tag_index.append(-1)
        taglist.append(tag_index)

for t in tags:
    attribute_df.insert(7,t,0)
i=0
for col in df["player_tags"]:
    tag_index=[]
    if type(col) is str:
        " ".join(col.split())
        current_tags=col.split(',')
        for t in current_tags:
            t=t.strip()
            c=attribute_df.columns.get_loc(t)
            attribute_df.iloc[i,c]=1
    i+=1            
        
traits=[]
# tags=[]
traitlist=[]
# taglist=[]

for col in df["player_traits"]:
    trait_index=[]
    if type(col) is str:
        " ".join(col.split())
        current_traits=col.split(',')
        for t in current_traits:
            t=t.strip()
            if t not in traits:
                traits.append(t)
            trait_index.append(traits.index(t))
        traitlist.append(trait_index)
    else:
        trait_index.append(-1)
        traitlist.append(trait_index)

for t in traits:
    attribute_df.insert(12,t,0)

i=0
for col in df["player_traits"]:
    trait_index=[]
    if type(col) is str:
        " ".join(col.split())
        current_tags=col.split(',')
        for t in current_tags:
            t=t.strip()
            c=attribute_df.columns.get_loc(t)
            attribute_df.iloc[i,c]=1
    i+=1

In [38]:
attribute_filter=["attacking_crossing","attacking_finishing","attacking_heading_accuracy","attacking_short_passing","attacking_volleys","skill_dribbling","skill_curve","skill_fk_accuracy","skill_long_passing","skill_ball_control","movement_acceleration","movement_sprint_speed","movement_agility","movement_reactions","movement_balance","power_shot_power","power_jumping","power_stamina","power_strength","power_long_shots","mentality_aggression","mentality_interceptions","mentality_positioning","mentality_vision","mentality_penalties","defending_marking","defending_standing_tackle","defending_sliding_tackle"]
attri_df=df.filter(attribute_filter)


def split_f(v):
    if '+' in v:
        s= v.split('+')
        return (int(s[0])+int(s[1]))
    else:
        s=v.split('-')
        return int(s[0])-int(s[1])

for col in attri_df.columns:
    attri_df[col]=attri_df[col].apply(lambda v: 0 if type(v) == str and len(v)>4 else( split_f(v) if type(v) == str and len(v)==4 else v))
test_df = pd.concat([attri_df.reset_index(drop=True),attribute_df.reset_index(drop=True)], axis=1)

In [39]:
test_df

,attacking_crossing,attacking_finishing,attacking_heading_accuracy,attacking_short_passing,attacking_volleys,skill_dribbling,skill_curve,skill_fk_accuracy,skill_long_passing,skill_ball_control,...,weak_foot,skill_moves,body_type,contract_valid_until,pace,shooting,passing,dribbling,defending,physic
0,88,95,70,92,88,97,93,94,92,96,...,4,4,0,2021.0,87.0,92.0,92.0,96.0,39.0,66.0
1,84,94,89,83,87,89,81,76,77,92,...,4,5,1,2022.0,90.0,93.0,82.0,89.0,35.0,78.0
2,87,87,62,87,87,96,88,87,81,95,...,5,5,2,2022.0,91.0,85.0,87.0,95.0,32.0,58.0
3,13,11,15,43,13,12,13,14,40,30,...,3,1,3,2023.0,0.0,0.0,0.0,0.0,0.0,0.0
4,81,84,61,89,83,95,83,79,83,94,...,4,4,3,2024.0,91.0,83.0,86.0,94.0,35.0,66.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18273,21,17,40,35,27,24,23,21,28,35,...,3,2,3,2019.0,57.0,23.0,28.0,33.0,47.0,51.0
18274,24,20,42,43,28,32,24,29,39,31,...,2,2,3,2022.0,58.0,24.0,33.0,35.0,48.0,48.0
18275,32,33,49,53,32,40,32,32,55,49,...,2,2,4,2019.0,54.0,35.0,44.0,45.0,48.0,51.0
18276,39,34,47,54,28,42,37,39,48,49,...,2,2,4,2022.0,59.0,35.0,47.0,47.0,45.0,52.0
18277,44,30,48,58,25,40,34,35,52,46,...,3,2,3,2019.0,60.0,32.0,51.0,45.0,47.0,55.0

In [40]:
test_df.to_csv (r'C:\Users\Gaurav Gandhi\Documents\pattern\fifa20\test.csv', index = False, header=True) #Don't forget to add '.csv' at the end of the path
label_test.to_csv (r'C:\Users\Gaurav Gandhi\Documents\pattern\fifa20\label.csv', index = False, header=True) #Don't forget to add '.csv' at the end of the path